---
import CotizadorA from "./CotizadorA.astro";
import CotizadorN from "./CotizadorN.astro";
---

<section class="w-full py-16 px-4 bg-white ">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-2xl font-normal mb-4 text-left">Cotizadores</h2>
        <hr class="pt-2 pb-6 border-t border-gray-200" />
      
     <!-- Grid para alinear lado a lado -->
     <div class="max-w-4xl mx-auto flex flex-col md:flex-row gap-12 justify-center items-start">
        <CotizadorA />
        <CotizadorN />
      </div>
    </div>
  </section>